*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    height: 200px;
    width: 300px;
}

.receita {
    width: 300px;
    float: left;
    margin-left: 40px;
}

a {
    text-decoration: none;
}

a:visited {
    color: rgba(12, 28, 167, 0.719);
}